//imports
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap");
@font-face {
  font-family: "MyriadPro";
  src: local("MyriadPro"), url(./fonts/MyriadPro-Bold.otf) format("truetype");
}

//variables
$light: #90afc5;
$dark: #2a3132;
$accent: #334e5f;
$outline: #763626;
$regFont: 300;
$boldFont: 900;
$h1: 3rem;
$h2: 2.25rem;
$h3: 1.25rem;
$body: 1.5rem;
$swirl-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%23763626' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='8.6' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' %3E%3Cg transform='rotate(201.6 0 0)' %3E%3Ccircle fill='%23763626' r='10'/%3E%3Cg transform='rotate(-132 0 0)'%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(-22.8 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform='rotate(59.4 0 0)'%3E%3Cg transform='rotate(126 0 0)'%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(102.6 0 0)'%3E%3Cg transform='rotate(75.6 0 0)'%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform='rotate(-151.2 0 0)'%3E%3Cg transform='rotate(-59.4 0 0)'%3E%3Cg transform='rotate(-136.8 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

//general
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
  scroll-behavior: smooth;
}

::selection {
  background-color: $light;
}

button {
  background: none;
  color: $light;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: all 0.25s;
  &:hover {
    border-color: $outline;
    color: $outline;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.1em);
    cursor: pointer;
  }
}

section {
  padding: 5em 1em;
  height: 100vh;
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid $light;
}

h3 {
  font-size: $h3;
}

.header-title {
  background-color: $light;
  border: 2px solid white;
  color: $dark;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 3px;
  max-width: 500px;
  width: 90%;
}

a:visited {
  color: $outline;
}

//Nav bar styling
.boot-button:focus {
  outline: none !important;
  box-shadow: none !important;
  text-align: center  !important;
}

.navbar a {
  letter-spacing: 3px;
}

 nav .navbar-brand {
  color: white !important;
}

.navbar-default {
  box-shadow: none !important;
}

//Landing styling
.intro {
  display: grid;
  place-items: center;
  background-image: url("/recources/anton-shuvalov-yZ38iiuNRdk-unsplash.jpg");
  background-position: bottom;
  background-size: cover;
}

.name-styling {
  font-size: calc(15px + 9vw);
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  background-color: #2a3132;
  background-image: $swirl-background;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  color: transparent;
  display: block;
  white-space: nowrap;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1.5px white;
}

//Project section styling
.my-projects {
  margin: auto;
  background-color: #2a3132;
  background-image: $swirl-background;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  li {
    border: 1px solid #e2e2e2;
    border-radius: 0.5rem;
    list-style: none;
    background-color: white;
    max-width: 400px;
    margin-bottom: 40px;
    p {
      margin: auto;
      padding: 0px 20px 0px 20px;
      width: 90%;
      color: $dark;
    }
    .project-links {
      display: flex;
      justify-content: space-evenly;
      width: 80%;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      margin: auto;
      position: relative;
      color: $accent;
    }
  }
}

figcaption {
  width: auto;
}

.project-image {
  width: 100%;
  display: block;
}

//About me section styling
#about {
  background-color: $accent;
  height: 100%;
}

.about-me {
  display: grid;
  margin: auto;
  width: 90%;
  grid-template-columns: 1fr 1fr 2fr auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "me me head head"
    "info info info info";
  background-color: white;
  border-radius: 3px;
  overflow: auto;
  .pic-of-me {
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    grid-area: me;
    width: 90%;
    min-width: 20rem;
    max-width: 20rem;
    margin-left: 50px;
    margin-top: 50px;
    -webkit-box-shadow: -6px 10px 20px 3px rgba(0, 0, 0, 0.61);
    box-shadow: -6px 10px 20px 3px rgba(0, 0, 0, 0.61);
  }
  .I-AM {
    grid-area: head;
    text-decoration: underline;
    justify-self: center;
    align-self: center;
    width: 83.7%;
    text-align: center;
    margin-right: 40px;
    font-size: $h2;
    font-weight: $boldFont;
  }
  .my-info {
    // background-color: blue;
    grid-area: info;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
    font-size: $body;
    height: 100%;
    color: $dark;
  }
}
// .resume-link {
//   width: fit-content;
//   .resume {
//     background-color: $outline;
//     color: white;
//     padding: 12px 20px;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//     &:active {
//       background-color: $light;
//     }
//   }
// }

//Form section styling

#form-body {
  background-color: white;
  border-radius: 5px 20px 5px;
  margin-top: 5%;
  width: 90%;
  margin: auto;
}

input[type="url"] {
  font-size: 1.5em;
  width: 100%;
  padding: 0.25em 0.375em;
  margin: 0.375em 0 1.25em 0;
  background-color: #fdfdfd;
  border: 1px solid $light;
  box-shadow: inset 0 0.0625em 0.125em rgba(0, 0, 0, 0.2);
  opacity: 0.75;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid $light;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  box-shadow: inset 0 0.0625em 0.125em rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  background-color: $outline;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: $outline;
}

.check {
  color: $outline;
}

.hire {
  padding: 12px;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#contact {
  background-color: #2a3132;
  background-image: $swirl-background;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

form {
  padding: 40px;
}

//Footer styling

.footer {
  height: 20vh;
  background-color: $accent;
  .footer-links {
    width: 70%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 4%;
    .Fa {
      color: white !important;
      font-size: 30px;
    }
  }
  .copyright {
    font-size: $h3;
    padding-top: 1.5%;
    color: white;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .name-styling {
    transform: scaleY(1.5);
  }
  .about-me {
    overflow: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "me"
      "info";
    .I-AM {
      width: 100%;
      margin-top: 40px;
      padding: 10px;
    }
    .pic-of-me {
      max-width: 1rem;
      justify-self: center;
      align-self: center;
      margin: 20px;
    }
  }
}

@media only screen and (max-width: 550px) {
  button {
    padding: 0.5em;
  }
  .name-styling {
    font-size: calc(9px + 11vw);
  }
  .about-me {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
    grid-template-areas:
      "head"
      "info";
    .pic-of-me {
      display: none;
    }
    .I-AM {
      width: 100%;
    }
    .my-info {
      width: auto;
    }
  }
}
